{% extends "base.html" %}

{% block content %}
    <div class="container">
        <form action="{% url 'transact' %}" method="post">
          {% csrf_token %}

          Account Balance : {{account.balance}}
            <div class="form-group">
              <label >user:</label>
              <input type="text" value={{user.get_username}} readonly>
            </div>

            <div class="form-group">
                <label>Transcation Type:</label>
                {{form.t_type}}
              </div>
              <div class="form-group">
                <label>Amount:</label>
                {{form.amount}}
              </div>
              <button type="submit" class="btn btn-primary" value="save">Do</button>
        </form>
    </div>
{% endblock %}