{% extends "base.html" %}

{% block content %}
    <div class="container">
        
        <form action="{% url 'transfer' %}" method="POST">
            <div class="form-group">
                <label>Reciver Account Number:</label>
                {{form.reciver}}
              </div>
              <div class="form-group">
                <label>Amount:</label>
                {{form.amount}}
              </div>
              <button type="submit" class="btn btn-primary" value="trans">Do</button>
        </form>
    </div>
{% endblock %}